body{
	background-image: url("./backg.jpg") !important;
	background-size: cover !important;
}
p{
	font-weight:bold;
	font-size: 30px;
	line-height: 1.8 !important;
	font-family:"Courier New";
	text-transform:Uppercase ;
}